body {
	background-color:#c3c3c3;
	background-image:url(../images/1843.png);
	margin:0;
	padding:0;
}

#main {
	width:800px;
	height:991px;
	margin:29px auto;
	background-image:url(../images/bg_s.jpg);
	background-repeat:repeat-x;
	background-color:#C8FFFA;
}

#main h1 {
	text-align:center;
	padding-top:182px;
	font:36px Verdana;
	background-image: url(../images/logo.png);
	background-repeat:no-repeat;
	background-position:134px 190px;
	}

#wrapper {
	outline:0px solid #000080;
	background:url(../images/tel.jpg) no-repeat fixed 0 120px; /*короткая запись свойств*/
}
